<h1>Hi {{currentUser}} ! Here is your HOME PAGE</h1>
<a class="btn btn-primary btn-block" href="#"><span class="glyphicon glyphicon-off"></span>Logout</a>
<!-- GROUP MESSAGES -->
<div class="form-inline">
    <h3 class="box-title">Group Chat</h3>
    <!-- Conversations are loaded here -->
    <div class="group-chat-box" id="group-messages"></div>
    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
    <button type="button" class="btn btn-primary btn-flat">Send</button>
</div>
<!-- FRIENDS -->
<div>
    <h3 class="box-title">Friends</h3>
	<span class="label label-danger">{{friends.length}}</span>
	<div class="friend-box">
	    <ul>
	        <li ng-repeat="friend in friends">
	            <a>{{friend}}</a>
	        </li>
	    </ul>
	</div>
</div>
<!-- ONLINE USERS -->
<div>
    <h3 class="box-title">Online Members</h3>
	<span class="label label-danger">{{onlineUsers.length}}</span>
    <div class="online-user-box">
	    <ul>
	        <li ng-repeat="user in onlineUsers">
	            <a>{{user}}</a>
	        </li>
	    </ul>
	</div>
</div>