<h1>Hi {{currentUser}} ! Here is your HOME PAGE</h1>
<a class="btn btn-primary btn-block" href="#"><span class="glyphicon glyphicon-off"></span>Logout</a>
<!-- GROUP MESSAGES -->
<div class="form-inline">
    <h3 class="box-title">Group Chat</h3>
    <!-- Conversations are loaded here -->
    <div class="group-chat-box" id="group-messages"></div>
    <input type="text" name="message" placeholder="Type Message ..." class="form-control" ng-model="groupMessage">
    <button type="button" class="btn btn-primary btn-flat" ng-click="sendGroupMessage(groupMessage)">Send</button>
</div>
<!-- FRIENDS -->
<div>
    <h3 class="box-title">Friends <span class="label label-danger">{{friends.length}}</span></h3>
	<div class="friend-box">
	    <ul>
	        <li ng-repeat="friend in friends">
	            <a>{{friend.username}}</a>
	        </li>
	    </ul>
	</div>
</div>
<!-- USERS -->
<div>
    <h3 class="box-title">Users <span class="label label-danger">{{users.length}}</span></h3>
    <div class="user-box">
	    <ul>
	        <li ng-repeat="user in users">
	            <a ng-click="showPrivateChatBox(user.username)">{{user.username}}</a>
	        </li>
	    </ul>
	</div>
</div>